 body {
     font-family: sans-serif;
     padding: 0;
     margin: 0;
     background-color: #FFCBD8;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 
 .container {
     background-color: #fff;
     width: 500px;
     height: 700px;
     border: 5px solid purple;
     border-radius: 8px;
     display: grid;
     justify-content: center;
     align-content: center;
     grid-template-columns: repeat(4, 100px);
     grid-template-rows: minmax(120px, auto) repeat(5, 100px);
 }